@import 'src/css/base/colors.scss';

#app-container {
  .overflow-auto-y {
    overflow-y: auto;
  }
  .larger-text {
    font-size: 150%;
  }
  .button-large {
    padding: 15px 0px;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
  }
  .bold {
    font-weight: bold;
  }

  .button-flat {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
  }
  .hidden {
    display: none;
  }
  .snackbar-success {
    background-color: green;
    color: white;
  }
  .snackbar-failure {
    background-color: red;
  }
  .page {
    overflow: auto;
  }

  .right-border {
    &:after {
      content: '';
      background: -webkit-linear-gradient(
        bottom,
        #365902 0%,
        rgba(0, 0, 0, 0) 100%
      );
      display: block;
      height: 100%;
      width: 2px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .bottom-border {
    position:relative;
    &:after {
      content: '';
      background: -webkit-linear-gradient(
        left,
        #365902 0%,
        rgba(0, 0, 0, 0) 100%
      );
      display: block;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .display-flex {
    display: flex;
  }
  .flex-center {
    align-items: center;
    justify-items: center;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-auto {
    flex: auto;
  }
  .text-center {
    text-align: center;
  }
  .non-flex {
    flex: none;
  }
  .position-relative {
    position: relative;
  }

  .color-white {
    color: white;
  }
  .full-width {
    width: 100%;
  }
  .color-1 {
    color: $color1;
  }
  .facebook-background {
    background-color: $facebook-color;
  }
  .capitalize {
    text-transform: capitalize;
  }
}
