#result-page {
  height: 100%;
  padding: 0px 20px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#result-page #my-score-data {
  padding: 0px 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
#my-score-data h1 {
  margin: 0;
  font-size: 30px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.867);
}
.star-container {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  line-height: 1;
  /* transform: rotate(45deg); */
  color: white;
}
.star-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.87;
}
#score-section-star .star {
  height: 100px;
  width: 100px;
}
#score-section-star .star-text {
  font-size: 20px;
  color: green;
}
#score-details {
  line-height: 2;
  color: rgba(255, 255, 255, 0.867);
  font-size: 18px;
}
.graph-bar-container {
  width: 100%;
  height: 150px;
  margin-top: 100px;

}
.result-graph {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.result-graph-bar {
  height: 100%;
  flex: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.9;
  position: relative;
  transition: height 0.5s
}
.result-graph-bar:not(:last-child) {
  margin-right: 15px;
}

.graph-ranking-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}
/* targets the text in the star next to the avatar */
.graph-ranking-info .ranking-number {
  color:white;
  position:relative;
}
.graph-ranking-info .star-container {
  width:40px;
  height:40px;
  position: absolute;
  right:0px;
  bottom:0px;
  transform:translate(50%,50%);
}
.star {
  width:100%;
  height:100%;
}
.graph-bar-container .ranking-number {
  position: absolute;
  left:50%;
  top:50%;
  /* transform:translate(50%,0); */
  transform: translate(-50%,-45%);
  font-size:16px;
  font-weight: bold;
}
.graph-bar-avatar-container {
  width:40px;
  height:40px;
  position:relative;
  margin-bottom:10px;
}
.graph-bar-avatar {
  width: 30px;
  height: 30px;
}
.graph-bar-wpm {
  display: inline-flex;
  padding: 5px;
  position: absolute;
  bottom: 20%;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  background-color: #0ba360;
  opacity:0.9;
  color:white;
}
.graph-bar-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.graph-wpm-info {
  position: absolute;
  bottom:0;
  margin-bottom:5px;
  left:50%;
  transform:translate(-50%);
}
.graph-wpm-info-number{
  padding:5px;
  background-color:#0ba360;
  border-radius:50%;
  color:white;
}
.graph-wpm-info-number span:nth-child(2) {
  font-size:60%;
  position: absolute;
  bottom:0; 
}
#result-page-buttons {
  width: 100%;
  margin-top:10px;
}

#result-page-buttons button {
  padding: 15px 0px;
  border-radius: 10px;
  width:100%;
  color: white;
  font-size: 20px;
}
#compete-again {
  background-color: blue;
  border-radius:10px;

}

