@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html{
  height: 100%;
}
body{
  min-height: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
}

#app-container {
  flex:auto;
  display:flex;
  flex-direction: column;
}
#root {
  height: 100%;
  flex:auto;
  display:flex;
  flex-direction:column;
  max-width:750px;
  width:100%;
  .toolbar-icons {
    height: 25px;
    width: 25px;
  }
  #app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }
  #app-toolbar {
    width: 100%;
  }
  .toolbar-default-color {
    background-color: #fdffff;
  }
  #logo-toolbar {
    width: 70px;
    margin: auto;
    transform: translateX(16px);
  }
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  #dummy-input {
    position: absolute;
    opacity: 0;
    font-size: 17px;
  }
  .toolbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex:auto;
    position: relative;
  }
}
