@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ebee;
  overflow: hidden;
}
#root {
  background-color: white;
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  .toolbar-icons {
    height: 25px;
    width: 25px;
  }
  #app-toolbar {
    width: 100%;
  }
  .toolbar-default-color {
    background-color: #fdffff;
  }
  #logo-toolbar {
    width: 70px;
    margin: auto;
    transform: translateX(16px);
  }
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  #dummy-input {
    position: absolute;
    opacity: 0;
    font-size: 17px;
  }
  .toolbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .page {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: auto;
    position: relative;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
