@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

#root {
  .toolbar-icons {
    height: 25px;
    width: 25px;
  }
  #app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }
  #app-toolbar {
    width: 100%;
  }
  .toolbar-default-color {
    background-color: #fdffff;
  }
  #logo-toolbar {
    width: 120px;
    margin: auto;
    transform: translateX(16px);
  }
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
  }

  #dummy-input {
    position: absolute;
    opacity: 0;
    font-size: 17px;
  }
}
