@import '../../css/colors.scss';

#profile-page {
  width: 100%;
  padding: 10px;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1:first-child {
    margin: 0px;
    color: $color1;
    text-align: center;
  }
  .active-user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .big-header {
    font-size: 30px;
    font-weight: bold;
    color: $color1;
  }
  .info-footer {
    font-size: 10px;
    color: $color7;
  }
}
#profile-tabs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
#ranking {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
.ranking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
#progress-bar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color7;
  font-size: 12px;
  margin-top: 30px;
}
#progress-bar {
  width: 95%;
  border: 1px solid $color8;
  height: 15px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

#completed-area {
  background: linear-gradient(to right, $color2, $color2 85%, white 95%);
  width: 50%;
  height: 100%;
}

#profile-stats {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .profile-stats-section:first-child {
    position: relative;
    padding-right: 15px;
    &:after {
      content: '';
      background: -webkit-linear-gradient(
        bottom,
        #365902 0%,
        rgba(0, 0, 0, 0) 100%
      );
      display: block;
      height: 100%;
      width: 2px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .profile-stats-section.align-right {
    padding-left: 10px;
  }
}
.stats-section-header {
  position: relative;
  display: flex;
  &.align-left {
    h3 {
      margin-left: 20px;
    }
  }
  &.align-right {
    justify-content: flex-end;
    h3 {
      margin-right: 20px;
    }
  }
  &:after {
    content: '';
    background: -webkit-linear-gradient(left, $color1 0%, rgba(0, 0, 0, 0) 70%);
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &.align-right:after {
    background-image: -webkit-linear-gradient(
      right,
      rgb(54, 89, 2) 0%,
      rgba(0, 0, 0, 0) 70%
    );
  }
  h3 {
    position: relative;
    font-size: 12px;
    color: $color1;
  }
}

.stats-goals-list {
  margin-top: 15px;
  color: $color1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  span {
    display: inline-block;
  }
  .stats-list-item:not(:first-child) {
    margin-top: 15px;
  }
  .checked {
    height: 10px;
    width: 10px;
  }
}
.stats-list-item {
  display: flex;
  .list-item-completed {
    margin-left: 8px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      height: 100%;
      height: 15px;
      width: 15px;
    }
  }
}
#highlights-tab {
  display: flex;
  flex-direction: column;
}
.highlight-item {
  display: flex;
  align-items: center;
  &:not(:first-child) {
    margin-top: 10px;
  }
  p {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
}
.highlight-info {
  padding-left: 15px;
}
.highlight-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: 0px 15px;
  img {
    height: 40px;
    width: 40px;
  }
}

.highlights-list-container {
  overflow: scroll;
}
