.timeout-notification {
  display: flex;
  align-items: flex-end;
  img {
    width: 30px;
    height: 30px;
  }
}
.timeout-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 13px;
  button {
    margin-top: 25px;
    &:first-child {
      margin-top: 0px;
    }
  }
}
