#words-box {
  width: 200x;
  height:100px;
  border: 1px solid red;
  overflow: scroll;
  font-size:20px;
  position:relative;
}
.letter-group {
  display:inline-flex;
  flex-wrap: wrap
}


.letter-container {
  display: inline-flex;
}
.letter {
  display: inline-block;
  position: relative;
}


.letter.success {
  animation: 0.5s linear 0s pulse-success;
  color:red;
}

@keyframes pulse-success {
  0% {
    transform: scale(1);
    color: initial;
  }
  50% {
    transform: scale(1.2);
    color: green;
  }
  100% {
    transform: scale(1);
    color: initial;
  }
}
.letter-wrapper {
  display: inline-block;
}

#word-pointer {
  background-color: rgba(179, 222, 129, 1);
  position: absolute;
  transition: all 0.3s;
  z-index: 9999;
  color: white;
}
#game-text {
  position: relative;
  font-size: 25px;
}
.tooltip {
  transition: all 0.3s;
  position: absolute;
  display: block;
  font-size: 12px;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.1s ease-in-out;
  top:10px;
}
.tooltip .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip .tooltip-inner.has-space {
  padding: 10px 11px;
}
.tooltip.non-active {
  opacity: 0;
  top: 0px;
}
.tooltip.active {
  top: -35px;
  opacity: 1;
}
.tooltip.top {
  padding: 5px 0;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#underline-pointer {
  position: absolute;
  background-color:red;
  transition: all 0.3s;
}
