#word-pointer {
  background-color: red;
  position: absolute;
  transition: all 0.3s;
  opacity: 0.5;
}
#game-text {
  position: relative;
  font-size: 25px;
}
#tooltip {
  transition: all 0.3s;
  position: absolute;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#tooltip .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
#tooltip.top {
  padding: 5px 0;
}
#tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
#tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
