@import 'src/css/base/colors.scss';
#results-page {
  width: 100%;
  text-align: center;
  h3 {
    margin: 0px;
  }
  h2 {
    font-size: 18px;
    margin: 15px 0px;
  }
  .small-text {
    font-size: 14px;
  }
  .footer-button {
    padding: 15px 0px;
  }
  .footer-button {
    padding: 15px 0px;
  }
  .multiplayer-button {
    font-size: 16px;
  }
  #results-title {
    margin-top: 20px;
    .stats-section-header {
      padding-right: 70px;
      display: inline-block;
    }
    h3 {
      padding: 0px 15px;
    }
  }
}
#scoreboard-results {
  margin: 25px 0px;
}
#results-page-footer {
  margin-top: 20px;
}
.multiplayer-results-page {
  .title {
    font-size: 48px;
    color: $color1;
  }
}
.player-results-container {
  padding: 0px 10px;
  max-width: 670px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.player-result-container {
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  opacity: 0.87;
  padding: 10px;
  border-radius: 10px;
  &:first-child {
    margin-top: initial;
  }
  .player-section {
    flex: auto;
  }
  .position-container {
    width: 25px;
  }
  .position {
    font-size: 20px;
  }
  .ordinal-position {
    font-size: 14px;
  }
  .player-scores-section {
    flex: auto;
  }
  .player-result-avatar {
    width: 40px;
    margin: 0px 5px;
    position: relative;
    .checked {
      position: absolute;
      height: 20px;
      width: 20px;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      transition: all 500ms ease-out;
    }
    .checked-enter,
    .checked-appear {
      opacity: 0;
    }
    .checked-enter-active,
    .checked-appear-active {
      opacity: 1;
    }
  }
  .score:not(:last-child) {
    .value:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $color2;
      right: 0;
      top: 0;
    }
  }
  .value {
    font-size: 20px;
    color: $color1;
    padding: 5px 0px;
    margin-bottom: 5px;
    position: relative;
  }
  .label {
    font-size: 10px;
  }
  .competitor-name-section {
    line-height: 15px;
    width: 50px;
    font-size: 14px;
  }
  .number-place {
    font-size: 20px;
  }
}
