@import 'src/css/base/colors.scss';

.typing-test-scope {
  #words-box {
    margin-top: 32px;
    @media (min-width: 992px) {
      margin-top: 56px;
    }
  }
}
.typing-test-timer {
  border-radius: 50%;
  display: inline-flex;
  margin-right: 20px;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
}
.typing-test-timer-row {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  flex: none;
  @media (min-width: 992px) {
    margin-top: 48px;
  }
  margin-top: 16px;
}
#typing-test-scoreboard {
  color: $color1;
  flex: none;
  margin-top: 16px;
  @media (min-width: 992px) {
    margin-top: 48px;
  }
  .score-division {
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score {
    font-size: 36px;
    font-weight: 500;
  }
  .label {
    font-size: 16px;
  }
  display: flex;
}
