.competitor-container {
  /* background-color:red; */
  display: flex;
  flex: auto;
  padding: 0px 10px;
  border-bottom: 1px solid #a7a7a7;
}
.competitor-name-section {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: green;
}
#you-indicator {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(70%);
  background-color: #d3e8d3;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.6;
  border: 2px dashed green;
}
.competitor-progress {
  flex: auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
}
.competitor-progress .progress-bar {
  height: 10px;
  background: rgba(19, 189, 19, 1);
  background: linear-gradient(
    to right,
    rgba(19, 189, 19, 1) 0%,
    rgba(62, 112, 14, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13bd13', endColorstr='#3e700e', GradientType=1 );
  flex: auto;
}
.competitor-progress .avatar {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  transition: transform 1s;
}
.completed-icon {
  width: 20px;
  height: 20px;
  transform: translate(50%, -50%);
  right: 0;
  top: 0;
  position: absolute;
}

.competitor-wpm {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.competitor-wpm .circular-progress {
  width: 35%;
  margin-top: 7px;
  margin-bottom: 5px;
}
.competitor-wpm .wpm-label {
  transform: translateY(50%);
  font-size: 10px;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 30px;
}

.finish-shake {

  /* animation: finish-shake 0.5s ease-in; */
}

@keyframes finish-shake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-10px);
  }
  66% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
