.competitor-container {
  /* background-color:red; */
  min-height: 70px;
  display: flex;
  flex: auto;
  padding:0px 10px;
}
.competitor-name-section {
  width: 50px;
  display:flex;
  align-items:center;
}

.competitor-progress {
  flex: auto;
  display: flex;
  align-items: center;
  padding-left:30px;
  position:relative;
}
.competitor-progress .progress-bar {
  height: 10px;
  background-color: rgba(179, 222, 129, 1);
  flex: auto;  
}
.competitor-progress .avatar {
  height:30px;
  width: 30px;
  border-radius: 50%;
  background-color:grey;
  position:absolute;
  left:0;
  transition: transform 2s;
}

.competitor-wpm {
  width: 15%;
  display:flex;
  justify-content: center;
  align-items:center;
  width:100px;
}
.competitor-wpm .circular-progress {
  width:50%;
}
