@import './colors.scss';
.player-result-container {
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  opacity: 0.87;
  padding: 0px 10px;
  max-width: 670px;
  .player-section {
    flex: auto;
  }
  .position-container {
    width: 25px;
  }
  .position {
    font-size: 20px;
  }
  .ordinal-position {
    font-size: 14px;
  }
  .player-scores-section {
    flex: auto;
  }
  .player-result-avatar {
    width: 40px;
    margin: 0px 5px;
  }
  .scoreboard {
    // margin-left: 20px;
    // & > span:not(:first-child) {
    //   margin-left: 15px;
    // }
  }
  .value {
    font-size: 20px;
    color: $color1;
  }
  .score {
    // padding-right: 10px;
    position: relative;
    padding: 0px 10px;
    // width: 70px;
  }
  .score:not(:last-child) {
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $color2;
      right: 0;
      top: 0;
    }
  }
  .label {
    font-size: 10px;
  }
  .name {
    // width: 50px;
  }
  .competitor-name-section {
    line-height: 15px;
    width: 50px;
  }
  .number-place {
    font-size: 20px;
  }
}
