.typing-test-timer {
  border-radius: 50%;
  display: inline-flex;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}
.typing-test-timer-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
