html,
body,
#root {
  height: 100%;
  margin: auto;
}
body {
  margin: 0px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.toolbar-icons {
  height: 25px;
  width: 25px;
}
